@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
}

.background {
  background-image: url("/banner.jpg");
  z-index: -1;
  filter: blur(10px) brightness(10%);
}

.profilepic {
  border-radius: 50%;
}

.profilepic:hover {
  filter: drop-shadow(0px 0px 10px #63005a);

}

.link{
  color: beige;
}


/* CSS */
.button-27 {
  appearance: none;
  background-color: #000000;
  border: 2px solid #272727;
  border-radius: 15px;
  box-sizing: border-box;
  color: #ffffffd0;
  cursor: pointer;
  display: inline-block;
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
  width: 1000px;
}

.button-27:disabled {
  pointer-events: none;
}

.button-27:hover {
  filter: drop-shadow(0px 0px 10px #63005a);
  transform: translateY(-5px);
}

.button-27:active {
  box-shadow: none;
  transform: translateY(0);
}